<td class="d-flex">
    <!--
    <form *ngIf="isActive" asp-page="DeleteWorker" method="post" style="margin-left: 10px;">
        <input type="hidden" name="WorkerID" value="@Model.WorkerID" />
        <input type="image" src="assets/img/trash.svg" class="delete-button" alt="Delete" />
    </form>
    <form *ngIf="isActive" asp-page="RunNow" method="post" style="margin-left: 10px;">
        <input type="hidden" name="WorkerID" value="@Model.WorkerID" />
        <input type="image" class="run-button" src="assets/img/play.svg" alt="Run Now" />
    </form>

    <form *ngIf="!isActive" asp-page="ReactivateWorker" method="post" style="margin-left: 10px;">
          <input type="hidden" name="WorkerID" value="@Model.WorkerID" />
          <button type="submit" class="btn btn-sm btn-primary">Reactivate Worker</button>
      </form>
      -->
</td>
