html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

main {
    padding: 15px;
    flex: 1 0 auto; 
}

a {
    cursor: pointer;

    /* TODO: Figure out how to use primary instead of a hard-coded color */
    color: #3f51b5;
}
