.vs/
**/obj/
**/bin/

.DS_Store
SimpleSchedulerAngular/package-lock.json
**/*.user
**/node_modules/
**/*.dbmdl
**/*.jfm
_db
**/.vscode
**/secrets.json
**/secrets.sqlite.json
**/secrets.sqlserver.json
**/publish-local.bat

**/dist/
**/logs/
