.job-row-ERR {
    border: 3px solid #f00;
}

@media (max-width: 1400px) {
    .job-container {
        flex-direction: column;
    }
    .worker-name {
        font-weight: bold;
    }
}

.job-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

    .job-container:nth-of-type(2n+1) {
        background-color: #e8e8e8;
    }

.worker-name-container {
    flex: 4;
}

.queue-date-container {
    flex: 1;
}

.status-container {
    flex: 1;
}
