<div [class.d-none]="!loading">Loading...</div>

<!-- TODO: Make this fancy -->
<div>{{message}}</div>

<form [formGroup]="loginForm" [class.d-none]="(loading || submitting || submitted)" (ngSubmit)="onSubmit(loginForm.value)">
    <div class=form-group>
        <label>Email Address</label>
        <input formControlName=emailAddress class=form-control type=email>
        <select formControlName=emailAddressDropDown class=form-control *ngIf="allowUserDropdown">
            <option></option>
            <option *ngFor="let email of userEmails" [value]="email">{{email}}</option>
        </select>
    </div>
    <div class=form-group>
        <button class="btn btn-primary" type=submit>Submit</button>
    </div>
</form>

<div [class.d-none]="!submitting">Submitting - please wait...</div>

<div [class.d-none]="!submitted">Please check your email for a login link.</div>
