@import "bootstrap-4.0.0/bootstrap.scss";

.worker-box {
    flex: 33%;
    padding: 10px;
    margin: 15px;
}

@media (max-width: 1400px) {
    .worker-container {
        flex-direction: column;
    }
}
