.worker-box {
    flex: 33%;
    padding: 10px;
    margin: 15px;
}

.worker-card-body {
    padding: 0;
}

@media (max-width: 1400px) {
    .worker-container {
        flex-direction: column;
    }
}
