@page "/"
@page "/jobs/{WorkerID:long?}"
@using SimpleSchedulerBlazor.Client.Components.Jobs

@if (Loading)
{
    <LoadingAnimation />
}
else
{
    <div class="container" style="margin-top: 25px;">
        <EditForm EditContext="SearchEditContext" class="d-flex">
            <div class="form-group">
                <label for="AllWorkersDropdown">Worker</label>
                <InputSelect @bind-Value="SearchCriteria.WorkerID" class="form-select" id="AllWorkersDropdown">
                    <option></option>
                    @foreach (Worker worker in AllWorkers)
                    {
                    <option value="@worker.ID">@worker.WorkerName</option>
                    }
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="StatusDropdown">Status</label>
            <InputSelect @bind-Value="SearchCriteria.StatusCode" class="form-select" id="StatusDropdown">
                <option></option>
                <option value="NEW">NEW</option>
                <option value="RUN">RUN</option>
                <option value="SUC">SUC</option>
                <option value="ERR">ERR</option>
                <option value="ACK">ACK</option>
                <option value="CAN">CAN</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-primary form-control" @onclick="RefreshJobs">Refresh</button>
        </div>
    </EditForm>
</div>

    <div id="jobs-container">
        <div class="full-size-header job-container d-flex">
            <div class="worker-name-container">Worker Name</div>
            <div class="queue-date-container">Queue Date</div>
            <div class="status-container">Status</div>
        </div>
        @foreach (JobWithWorkerID job in JobDetails)
        {
            Worker worker = _allWorkersByID[job.WorkerID];
            Worker? parentWorker = null;
            if (worker.ParentWorkerID.HasValue)
            {
                parentWorker = _allWorkersByID[worker.ParentWorkerID.Value];
            }

            <JobRow Job="job" Worker="worker" ParentWorker="parentWorker" JobsComponent="this" />
        }
    </div>
}

<div class="modal fade" id="job-details-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                Hello there!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
