#job-details-modal .modal-body {
    white-space: pre-wrap;
}

@media (min-width: 576px) {
    #job-details-modal .modal-dialog {
        max-width: 1000px;
    }
}

@media (max-width: 1400px) {
    .full-size-header {
        display: none !important;
    }
}

.job-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

.full-size-header {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.worker-name-container {
    flex: 4;
}

.queue-date-container {
    flex: 1;
}

.status-container {
    flex: 1;
}
