@page "/login"

<div class="card">
    <div class="card-body">
        <EditForm id="email-form" Model="@Model" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="email-address" @bind-Value="Model.Email" />

            <button type="submit">Submit</button>
        </EditForm>
        <div id="message-container">
            @Message
        </div>
    </div>
</div>
