@page "/workers"
@using SimpleSchedulerApiModels

<h3>Workers</h3>

<div class="container-fluid" id="workers-table">
    <div class="row table-header-row" id="workers-table-header-row">
        <div class="col col-md-2 col-sm-12"></div>
        <div class="col col-md-4 col-sm-12">Name</div>
        <div class="col col-md-4 col-sm-12">Executable</div>
        <div class="col col-md-2 col-sm-12">Schedules</div>
    </div>
    @foreach (Worker worker in WorkerList)
    {
        <WorkerRow Worker="worker" />
    }
</div>
