@inherits LayoutComponentBase

<PageTitle>Scheduler (@EnvironmentName)</PageTitle>

<HeadContent>
    <link href="css/site.css?_=@ClientAppInfo.BuildGuid" rel="stylesheet" />
    <link href="SimpleSchedulerBlazorWasm.styles.css?_=@ClientAppInfo.BuildGuid" rel="stylesheet" />
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu EnvironmentName="@EnvironmentName" />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
