<h2>Jobs {{ header }}</h2>

<div *ngIf="loading">Loading...</div>

<div class="card shadow" style="width: 100%; margin-bottom: 10px; margin-top: 20px;" *ngIf="!loading">
    <div class=form-group style="display: flex; justify-content: space-around;">
        <div>
            <label style=visibility:hidden;>Refresh</label>
            <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Filter...</mat-label>
                <input matInput type=text #filterWorkerName autofocus (keyup)="doFilter(filterWorkerName.value)">
                <button mat-button *ngIf="filterWorkerName.value" matSuffix mat-icon-button title="close"
                    (click)="filterWorkerName.value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Worker</mat-label>
                <mat-select [(ngModel)]=workerID (selectionChange)="refresh()">
                    <mat-option value>--any--</mat-option>
                    <mat-option *ngFor="let worker of allWorkers" [value]="worker.workerID">{{ worker.workerName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]=statusCode (selectionChange)="refresh()">
                    <mat-option value>--any--</mat-option>
                    <mat-option value=NEW>NEW</mat-option>
                    <mat-option value=ERR>ERR</mat-option>
                    <mat-option value=RUN>RUN</mat-option>
                    <mat-option value=SUC>SUC</mat-option>
                    <mat-option value=ACK>ACK</mat-option>
                    <mat-option value=CAN>CAN</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="card-body">
        <app-job-table [jobDetails]="jobDetails" (refreshJobs)="refreshJobs()" 
            [filterWorkerName]="filterWorkerName.value"></app-job-table>
    </div>
</div>