<h2>Jobs {{ header }}</h2>

<div [class.d-none]="!loading">Loading...</div>

<div class="card shadow" style="width: 100%; margin-bottom: 10px; margin-top: 20px;" [class.d-none]="loading">
    <div class=form-group style="display: flex; justify-content: center;">
        <div>
            <label style=visibility:hidden;>Refresh</label>
            <button class="btn btn-sm btn-outline-primary form-control" (click)="refresh()">Refresh</button>
        </div>
        <div>
            <label style=visibility:hidden;>&nbsp;</label>
            <input class=form-control type=text #filterWorkerName autofocus placeholder=Filter... style>
        </div>
        <div>
            <label>Worker</label>
            <select class=form-control [(ngModel)]="workerID" (change)="refresh()">
                <option></option>
                <option *ngFor="let worker of allWorkers" [value]="worker.workerID">{{ worker.workerName }}</option>
            </select>
        </div>
        <div>
            <label>Status</label>
            <select class=form-control [(ngModel)]="statusCode" (change)="refresh()">
                <option></option>
                <option>ERR</option>
                <option>NEW</option>
                <option>RUN</option>
                <option>SUC</option>
                <option>ACK</option>
                <option>CAN</option>
            </select>
        </div>
    </div>
    <div class="card-body">
        <app-job-table [jobDetails]="jobDetails" (refreshJobs)="refreshJobs()"
            [filterWorkerName]="filterWorkerName.value"></app-job-table>
    </div>
</div>