<div [class.d-none]="!loading">Loading...</div>

<form [formGroup]="scheduleForm" [class.d-none]="loading" (submit)="scheduleFormSubmit()">
    <input type="hidden" formControlName="scheduleID" />
    <input type="checkbox" formControlName="isActive" class="d-none" />

    <div class="form-group">
        <label>Worker</label>
        <select formControlName="workerID" class=form-control>
            <option></option>
            <option *ngFor="let worker of allWorkers" [value]="worker.workerID">
                {{ worker.workerName }}
            </option>
        </select>
    </div>

    <div class=form-group>
        <label>Days</label>
        <div>
            <div style="width: 70px; float: left;">Sun:</div>
            <input type=checkbox formControlName="sunday" />
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="width: 70px; float: left;">Mon:</div>
            <input type=checkbox formControlName="monday" />
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="width: 70px; float: left;">Tue:</div>
            <input type=checkbox formControlName="tuesday" />
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="width: 70px; float: left;">Wed:</div>
            <input type=checkbox formControlName="wednesday" />
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="width: 70px; float: left;">Thu:</div>
            <input type=checkbox formControlName="thursday" />
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="width: 70px; float: left;">Fri:</div>
            <input type=checkbox formControlName="friday" />
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="width: 70px; float: left;">Sat:</div>
            <input type=checkbox formControlName="saturday" />
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class=form-group>
        <div>
            <div style="float: left; width: 125px;">
                <label for=radio-time-of-day>Time of Day</label>
            </div>
            <input type=radio formControlName="timeType" id=radio-time-of-day [value]="'time-of-day'">
            <div style="clear: both;"></div>
        </div>
        <div>
            <div style="float: left; width: 125px;">
                <label for=radio-recur>Recurrence</label>
            </div>
            <input type=radio formControlName="timeType" id=radio-recur [value]="'recur'">
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class=form-group id=time-of-day-section [class.d-none]="scheduleForm.value.timeType !== 'time-of-day'">
        <label>Time of Day</label>
    </div>

    <div class=form-group id=recur-section [class.d-none]="scheduleForm.value.timeType !== 'recur'">
        <label>Recurrence</label>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>


<!--
timeOfDayUTC: [""],
recurTime: [""],
recurBetweenStartUTC: [""],
recurBetweenEndUTC: [""],
oneTime: [""]

-->