@page "/"
@page "/jobs/{WorkerID:long?}"
@using SimpleSchedulerBlazorWasm.Components.Jobs

@if (Loading)
{
    <LoadingAnimation />
}
else
{
    <div class="container" style="margin-top: 25px;">
        <div class="d-flex">
            <div class="form-group">
                <label for="AllWorkersDropdown">Worker</label>
                <BootstrapDropdown TValue="long?"
                                   Id="AllWorkersDropdown"
                                   Value="SearchCriteria.WorkerID"
                                   ValueChanged="OnWorkerFilterChangedAsync"
                                   Items="WorkerDropdownItems"
                                   Placeholder="(all workers)"
                                   EmptyLabel="(all workers)" />
            </div>
            <div class="form-group">
                <label for="StatusDropdown">Status</label>
                <BootstrapDropdown TValue="string"
                                   Id="StatusDropdown"
                                   Value="SearchCriteria.StatusCode"
                                   ValueChanged="OnStatusFilterChangedAsync"
                                   Items="StatusDropdownItems"
                                   Placeholder="(all statuses)"
                                   EmptyLabel="(all statuses)" />
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-primary form-control" @onclick="RefreshJobs">Refresh</button>
            </div>
        </div>
    </div>

    <div id="jobs-container">
        <div class="full-size-header job-container d-flex">
            <div class="worker-name-container">Worker Name</div>
            <div class="queue-date-container">Queue Date</div>
            <div class="status-container">Status</div>
        </div>
        @foreach (JobWithWorkerID job in JobDetails)
        {
            Worker worker = _allWorkersByID[job.WorkerID];
            Worker? parentWorker = null;
            if (worker.ParentWorkerID.HasValue)
            {
                parentWorker = _allWorkersByID[worker.ParentWorkerID.Value];
            }

            <JobRow Job="job" Worker="worker" ParentWorker="parentWorker" JobsComponent="this" />
        }
    </div>
}

<div class="modal fade" id="job-details-modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                Hello there!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
