@page "/login"

<div class="card">
    <div class="card-header">
        Log In
    </div>
    <div class="card-body">
        @if (Loading)
        {
            <LoadingAnimation />
        }
        else
        {
            if (!SubmittedSuccessfully)
            {
                <EditForm id="email-form" Model="@Model" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

                    <div class="input-group mb-3">
                        @if (AllEmails.Any())
                        {
                            <InputSelect id="email-address" @bind-Value="Model.Email" class="form-select">
                                <option></option>
                                @foreach (string emailAddress in AllEmails)
                                {
                                    <option value="@emailAddress">@emailAddress</option>
                                }
                            </InputSelect>
                        }
                        else
                        {
                            <InputText id="email-address" @bind-Value="Model.Email" class="form-control" placeholder="Email Address" />
                        }
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </EditForm>
            }
        }
    </div>
</div>
