<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Worker</th>
            <th>Insert Date</th>
            <th>Queue Date</th>
            <th>Complete Date</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jd of jobDetails" [class.d-none]="!jd.worker.workerName.toLowerCase().includes(filterWorkerName?.toLowerCase() || '')">
            <td class="d-flex justify-content-between">
                <a [class.invisible]="jd.job.statusCode!=='NEW'" class="btn btn-outline-primary btn-sm" (click)="cancelJob(jd.job.jobID)">Cancel Job</a>
            </td>
            <td>
                {{ jd.worker.workerName }}
            </td>
            <td style=white-space:pre-line;>
                {{ formatDateTime(jd.job.insertDateUTC) }} (UTC)
            <td style=white-space:pre-line;>
                {{ formatDateTime(jd.job.queueDateUTC) }} (UTC)
            </td>
            <td>
                {{ formatDateTime(jd.job.completeDateUTC) }} {{ jd.job.completeDateUTC ? "(UTC)" : ""  }}
            </td>
            <td>
                {{ formatDuration(jd.job.durationInSeconds) }} {{ jd.job.completeDateUTC ? "seconds" : "" }}
            </td>
            <td>
                <div>{{ jd.job.statusCode }}</div>
                <div *ngIf="jd.job.statusCode==='ERR'">
                    <a (click)="acknowledgeError(jd.job.jobID)">Acknowledge</a>
                </div>
            </td>
            <td>
                <a *ngIf="jd.job.detailedMessage" (click)="alertDetail($event, jd.job.jobID)" style="margin-right: 10px;"><i class="bi bi-chat-left-text"></i></a>
                <a *ngIf="jd.job.detailedMessage" (click)="popUpDetail($event, jd.job.jobID)"><i class="bi bi-box-arrow-up-left"></i></a>
            </td>
        </tr>
    </tbody>
</table>
