<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Worker</th>
            <th>Insert Date</th>
            <th>Queue Date</th>
            <th>Status</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jd of jobDetails" [class.d-none]="!jd.worker.workerName.toLowerCase().includes(filterWorkerName?.toLowerCase() || '')">
            <td class="d-flex justify-content-between">
                <a [class.invisible]="jd.job.statusCode!=='NEW'" class="btn btn-outline-primary btn-sm" (click)="cancelJob(jd.job.jobID)">Cancel Job</a>
            </td>
            <td>
                {{ jd.worker.workerName }}
            </td>
            <td style=white-space:pre-line;>
                {{ formatDateTime(jd.job.insertDateUTC) }} (UTC)
            <td style=white-space:pre-line;>
                {{ formatDateTime(jd.job.queueDateUTC) }} (UTC)
            </td>
            <td>
                <div>{{ jd.job.statusCode }}</div>
                <div *ngIf="jd.job.statusCode==='ERR'">
                    <a (click)="acknowledgeError(jd.job.jobID)">Acknowledge</a>
                </div>
            </td>
            <td>
                <!-- href apparently is required to get middle-click to work -->
                <a href="#" *ngIf="jd.job.detailedMessage" 
                    class="btn btn-sm btn-outline-primary" 
                    (click)="showDetail($event, jd.job.detailedMessage)"
                    (auxclick)="showDetail($event, jd.job.detailedMessage)"
                    >Result Details</a>
            </td>
        </tr>
    </tbody>
</table>
