<table mat-table [dataSource]="dataSource" class=mat-elevation-z8 matSort>

    <ng-container matColumnDef=cancelJob>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let jd">
            <input type=hidden class=job-id [value]="jd.job.jobID" />
            <a *ngIf="jd.job.statusCode==='NEW'" (click)="cancelJob(jd.job.jobID)">Cancel Job</a>
        </td>
    </ng-container>

    <ng-container matColumnDef=workerName>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Worker Name</th>
        <td mat-cell *matCellDef="let jd">{{ jd.worker.workerName }}</td>
    </ng-container>

    <ng-container matColumnDef=insertDateUTC>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Insert Date</th>
        <td mat-cell *matCellDef="let jd">{{ formatDate(jd.job.insertDateUTC) }}<br>{{ formatTime(jd.job.insertDateUTC) }}</td>
    </ng-container>

    <ng-container matColumnDef=queueDateUTC>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Queue Date</th>
        <td mat-cell *matCellDef="let jd">{{ formatDate(jd.job.queueDateUTC) }}<br>{{ formatTime(jd.job.queueDateUTC) }}</td>
    </ng-container>

    <ng-container matColumnDef=completeDateUTC>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Complete Date</th>
        <td mat-cell *matCellDef="let jd">{{ formatDate(jd.job.completeDateUTC) }}<br>{{ formatTime(jd.job.completeDateUTC) }}</td>
    </ng-container>

    <ng-container matColumnDef=statusCode>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let jd">
            <div>{{ jd.job.statusCode }}</div>
            <div *ngIf="jd.job.statusCode==='ERR'">
                <a (click)="acknowledgeError(jd.job.jobID)">Acknowledge</a>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef=message>
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let jd">
            <button mat-stroked-button color="primary" *ngIf="jd.job.detailedMessage"
                (click)="showDetailAlert(jd.job.jobID)">Details</button>
            <button mat-icon-button color=primary *ngIf="jd.job.detailedMessage"
                (click)="showDetailPopup(jd.job.jobID)"><mat-icon>open_in_new</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef=displayedColumns></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
