<div [class.d-none]="!loading">Loading...</div>

<form [formGroup]="workerForm" [class.d-none]="loading">
    <input type="hidden" formControlName="workerID" />
    <input type="checkbox" formControlName="isActive" class="d-none" />

    <div class="form-group">
        <label>Worker Name</label>
        <input type="text" formControlName="description" class="form-control" />
    </div>
    <div class="form.group">
        <label>Detailed Description</label>
        <textarea formControlName="freeText" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Email On Success (semi-colon delimited)</label>
        <input formControlName="emailOnSuccess" class="form-control" />
    </div>
    <div class="form-group">
        <label>Parent Worker (this worker will run after the parent is successful)</label>
        <select formControlName="parentWorkerID" class="form-control">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label>Timeout (Minutes)</label>
        <input formControlName="timeoutMinutes" class="form-control" />
    </div>
    <div class="form-group">
        <label>Overdue (Minutes)</label>
        <input formControlName="overdueMinutes" class="form-control" />
    </div>
    <div class="form-group">
        <label>Directory Name</label>
        <input formControlName="directoryName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Executable</label>
        <input formControlName="executable" class="form-control" />
    </div>
    <div class="form-group">
        <label>Arguments</label>
        <input formControlName="argumentValues" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>