<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Description</th>
            <th>Executable</th>
            <th>Time</th>
            <th>Schedules</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let wd of workerDetails" [class.d-none]="wd.worker.isActive !== active">
            <td class="d-flex justify-content-between" style="width: 90px;">
                <a *ngIf="wd.worker.isActive" [routerLink]="['/workers/edit', wd.worker.workerID]">
                    <img src="assets/img/pencil.svg" alt="Edit" />
                </a>
                <a *ngIf="wd.worker.isActive" (click)="deleteWorker(wd.worker.workerID)">
                    <img src="assets/img/trash.svg" alt="Delete" />
                </a>
                <a *ngIf="wd.worker.isActive" (click)="runWorker(wd.worker.workerID)">
                    <img src="assets/img/play.svg" alt="Run Now" />
                </a>
                <a *ngIf="!wd.worker.isActive" (click)="reactivateWorker(wd.worker.workerID)" class="btn btn-sm btn-outline-primary">
                    Reactivate
                </a>
            </td>
            <td>
                <div>{{ wd.worker.workerName }}</div>
                <div [class.d-none]="!wd.parentWorker" style="font-size: smaller; font-weight: bold;">Child of [{{ wd.parentWorker?.workerName }}]</div>
                <div [class.d-none]="!wd.worker.detailedDescription" style="font-size: smaller;">{{ wd.worker.detailedDescription }}</div>
                <div [class.d-none]="!wd.worker.emailOnSuccess" style="font-size: smaller; font-style: italic;">Email: {{ wd.worker.emailOnSuccess }}</div>
            </td>
            <td>
                <div style="font-weight: bold;">{{ wd.worker.directoryName }}\</div>
                <div>{{ wd.worker.executable }}</div>
                <div style="font-style: italic;" [class.d-none]="!wd.worker.argumentValues">{{ wd.worker.argumentValues }}</div>
            <td>
                Timeout: {{ wd.worker.timeoutMinutes }}<br />
                Overdue: {{ wd.worker.overdueMinutes }}
            </td>
            <td>
                <p>worker-schedule-cell works!</p>
            </td>
        </tr>
    </tbody>
</table>
