<table mat-table [dataSource]="dataSource" class=mat-elevation-z8 matSort>

    <ng-container matColumnDef=actions>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let wd">
            <input type=hidden class=worker-id [value]="wd.worker.workerID" />
            <a *ngIf="wd.worker.isActive" [routerLink]="['/workers/edit', wd.worker.workerID]">
                <span class="material-icons primary">edit</span>
            </a>
            <a *ngIf="wd.worker.isActive" (click)="deleteWorker(wd.worker.workerID)">
                <span class="material-icons primary">delete</span>
            </a>
            <a *ngIf="wd.worker.isActive" (click)="runWorker(wd.worker.workerID)">
                <span class="material-icons primary">play_arrow</span>
            </a>
            <a *ngIf="!wd.worker.isActive" (click)="reactivateWorker(wd.worker.workerID)"
                class="btn btn-sm btn-outline-primary" color=primary>
                Reactivate
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef=name>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Worker Name</th>
        <td mat-cell *matCellDef="let wd">
            <div>{{ wd.worker.workerName }}</div>
            <div *ngIf="wd.parentWorker" style="font-size: smaller; font-weight: bold;">Child of [{{
                wd.parentWorker?.workerName }}]</div>
            <div [class.d-none]="!wd.worker.detailedDescription" style="font-size: smaller;">{{
                wd.worker.detailedDescription }}</div>
            <div [class.d-none]="!wd.worker.emailOnSuccess" style="font-size: smaller; font-style: italic;">Email:
                {{ wd.worker.emailOnSuccess }}</div>
            <div style="font-size: smaller;">Timeout: {{ wd.worker.timeoutMinutes }}</div>
        </td>
    </ng-container>

    <ng-container matColumnDef=executable>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Executable</th>
        <td mat-cell *matCellDef="let wd">
            <div style="font-weight: bold;">{{ wd.worker.directoryName }}/</div>
            <div>{{ wd.worker.executable }}</div>
            <div style="font-style: italic;" [class.d-none]="!wd.worker.argumentValues">{{ wd.worker.argumentValues }}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef=schedules>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Schedules</th>
        <td mat-cell *matCellDef="let wd">
            <ul>
                <li *ngFor="let schedule of wd.schedules">
                    <code>{{ getFormattedSchedule(schedule) }}</code>
                </li>
            </ul>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef=displayedColumns></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>