<mat-toolbar>
    <button mat-icon-button class="menu-icon" [matMenuTriggerFor]=menu>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Scheduler: <span id=env-name></span></span>
    <span class="menu-spacer"></span>
    <span>UTC Time: <span id="utc-time"></span></span>
    <span class="menu-spacer"></span>
    <span>Hello <span id="user-email"></span></span>
    <span class="menu-spacer"></span>
    <!-- TODO: Make these proper material menu links-->
    <button mat-raised-button color="primary" [class.blinking-alert]="isJobError" (click)="goToJobs();">Jobs</button>
    <span class="menu-spacer"></span>
    <button mat-raised-button color="primary" (click)="goToSchedules();">Schedules</button>
    <span class="menu-spacer"></span>
    <button mat-raised-button color="primary" (click)="goToWorkers();">Workers</button>
</mat-toolbar>
