<nav id="page-nav" class="nav nav-pills justify-content-center bg-primary">
    <a class="nav-link active navbar-brand" routerLink="">Scheduler ({{ environmentName }})</a>
    <a class="nav-link" disabled>UTC Time: <span id="utc-time">{{ utcNowFormatted }}</span></a>
    <a class="nav-link" disabled>Hello {{ emailAddress }}</a>
    <a class="nav-link" routerLink="jobs">Jobs</a>
    <a class="nav-link" routerLink="schedules">Schedules</a>
    <a class="nav-link" routerLink="workers">Workers</a>
</nav>
